*{
  outline: 1px solid red;
}

@font-face {
  font-family: starcraftFont;
  src: url(assets/fonts/starcraft.ttf);
}

@font-face {
  font-family: commandFont;
  src: url(assets/fonts/command.ttf);
}


body {
  margin: 0px;
  background-color: #FAEBD7 !important;
  font-family: commandFont !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.dark-mode{
  background-color: #160f30 !important;
  color: #69779b;
  width: 100%;
}

.dark-mode-link{
  color: #eae7af !important;
  text-decoration: none;
}

.dark-mode-link:hover{
  color: #ffbd69 !important;

  text-decoration: none;
}


.dark-text{
  color: #eae7af !important;
}


.zerg-logo{
  background: transparent;
  width: 50px;
  background-color: transparent;
}

.zerg-logo:hover{
  animation: zerg-logo 0.5s alternate infinite ease-in-out;
}

@keyframes zerg-logo {
  0%   {transform: scale(.95);}
  100% {transform: scale(1.05);}
}

.starcraft-font{
  font-family: starcraftFont;
}


.nav-item{
  font-size: 20px;
  font-weight: 900;
}
.music-button{
  width:20px;
  height:20px;
  cursor: pointer;
  margin: 5px;
}

.g-card {
  margin: 50px;
  /* margin-right: 200px; */
  /* margin-left: 200px; */
  /* max-width: 300px; */
}

.card-container{
  margin: auto;
  width: 100%;
}


.cujo{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 100px;
  height: 100px;
  width: 150px;
}

.cujo:hover{
  animation: cujo 0.5s alternate infinite ease-in-out;

}

.cv-margin-bottom{
  margin-bottom: 10rem;
}
.cv-margin-top{
  margin-top: 1rem;
}

.cv-section-margin-top{
  margin-top: 4rem;
}
.cv-margin-bottom li{
  margin-bottom: 1rem;
}


@keyframes cujo {
  0%   {transform: scale(.95);}
  100% {transform: scale(1.05);}
}





.g-card-image{
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.g-card-description{
  width: 300px;
  font-size: 16px;
  margin: 0px;
  height: 50px;
}
.g-card-title{
  font-size: 24px;
  margin: 0px;
  text-align: center;
}

.g-card-info{
  min-height: 100px;
}

.g-card-sub-title-dark{
  color: #FFD2FC;
  font-size: 20px;
  margin: 0px;
  text-align: center;

}

.cv-title{
  color: #231651;
}
.cv-title-dark{
  color: #eae7af;
}

.cv-date{
  color: #2374AB;
}
.cv-date-dark{
  color: #ffbd69;

}
.vertical-line-cv-dark{
  border-left: 2px solid #eae7af;
  height: 100rem;
}

/* @media only screen and (max-width: 960px) {
  .vertical-line-cv{
    display: none;
  }

  .vertical-line-cv-dark{
    display: none;
  }
} */
.vertical-line-cv{
  border-left: 2px solid #231651;
  height: 100rem;
}

.horizontal-line-cv{
  border-bottom: 2px solid #231651;
  margin: 2rem 0;
}
.horizontal-line-cv-dark{
  border-bottom: 2px solid #eae7af;
  margin: 2rem 0;

}

.cv-subtitle{
  color: #2374AB;

}

.main-container{
  width: 100vw;
}
.g-card-sub-title{
  color: #2374AB;
  font-size: 20px;
  margin: 0px;
  text-align: center;

}
.success-msg{
  color: #56A773;
  padding: 10px 15px;
}

.err-msg{
  color: #EE6352;
  padding: 10px 15px;
}

.lang-logo-image{
  width: 24px;
  height: 24px;
  margin: 5px;
  background: transparent;
  border-radius: 100px;
}

.lang-logo-container{
  display: flex;
  margin-left: 20px;


}

.lang-logo-image:hover {
  animation: spin 0.5s ease-in-out;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

.center-text{
  text-align: center;
}



@media only screen and (max-width: 1200px) {
  .cv-margin-bottom{
    margin-bottom: 1rem;
  }
}

.margin-top-cv{
  margin-top: 2rem;
}

.margin-bot-cv{
  margin-bottom: 1rem;
}

.letter-space{
  letter-spacing: 2px;
}

.section-margin-cv-bot{
  margin-bottom: 3rem;
}

.section-margin-cv-top{
  margin-bottom: 1rem;
}